
body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  color: #000000;
  transition: 0.3s;
  height: 1000px;
}

.container {
  display: flex;
}

/* Sidebar */
.sidebar {
  width: 220px;
  height: 100vh;
  background:  rgb(63, 81, 119);
  color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  padding: 20px 15px;
}


.sidebar h2 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 22px;
  letter-spacing: 1px;
}

.sidebar ul {
  list-style: none;
}

.sidebar ul li {
  margin: 15px 0;
}

.sidebar ul li a {
  display: flex;
  align-items: center;
  gap: 15px;
  color: #ccc;
  text-decoration: none;
  padding: 10px;
  border-radius: 8px;
  transition: 0.3s;
}

.sidebar ul li a i {
  font-size: 18px;
}

.sidebar ul li a p {
  margin: 0;
  font-size: 15px;
}

.sidebar ul li a:hover {
  background: #c7d0ea;
  color: #151515;
}

.sidebar ul li a.active {
  background: #4e73df;
  color: #fff;
}

/* Main */
.main {
  margin-left: 240px;
  padding: 40px;
  width: calc(100% - 240px);
  /* display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  gap: 20px; */
  display: flex;
  flex-direction: column;
} 

/* Header */
.page-header {
  grid-column: 1 / -1;
}

.page-header p {
  color: #666;
}

/* Card */
.component-card {
  background: rgb(220, 218, 232);
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #eee;
  display: flex;
  flex-direction: column;
  gap: 12px;
  transition: 0.3s;
}

.component-card:hover {
  transform: translateY(-6px);
  box-shadow: 0 15px 35px rgba(0,0,0,0.08);
}

/* Center Button */
.component-card button:first-of-type {
  align-self: center;
}

/* Actions */
.actions {
  display: flex;
  gap: 10px;
}

.actions button {
  flex: 1;
  padding: 8px;
  border: none;
  background: #111;
  color: white;
  border-radius: 6px;
  cursor: pointer;
}

.actions button:hover {
  background: #333;
}

/* Code */
.code-block {
  display: none;
  background: #0d1117;
  color: #c9d1d9;
  padding: 12px;
  border-radius: 10px;
  font-size: 12px;
}

/* Buttons */

/* Gradient */
.gradient-btn {
  padding: 10px 20px;
  border: none;
  color: white;
  background: linear-gradient(45deg, #ff6b6b, #6c5ce7);
  border-radius: 6px;
}

/* Outline */
.outline-btn {
  padding: 10px 20px;
  border: 2px solid #6c5ce7;
  background: transparent;
  color: #6c5ce7;
  border-radius: 6px;
}

/* Neon */
.neon-btn {
  padding: 10px 20px;
  background: #111;
  color: #00f7ff;
  border: 2px solid #00f7ff;
}

/* Glass */
.glass-btn {
  padding: 10px 20px;
  background: rgba(255,255,255,0.2);
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

/* Shadow */
.shadow-btn {
  padding: 10px 20px;
  background: #00b894;
  color: white;
  border: none;
  border-radius: 6px;
  box-shadow: 0 5px 0 #019875;
}


/* HERO */
.hero {
  background: white;
  padding: 40px;
  border-radius: 16px;
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-left {
  max-width: 60%;
}

.hero-left h1 {
  color: #1e1e2f;
  font-size: 32px;
  margin-bottom: 10px;
}

.hero-left p {
  color: #080808;
}

.btn {
  padding: 10px 60px;
  background: #3faffa6b;
  border: 0;
  outline: none;
  cursor: pointer;
  font-size: 22px;
  font-weight: 500;
  border-radius: 30px;
}

.popup {
  width: 400px;
  background: #edf4fa;
  border-radius: 6px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%,-50%) scale(0.1);
  text-align: center;
  padding: 0 30px 30px;
  color: #333;
  visibility: hidden;
  transition: transform 0.4s, top 0.4s;
}

.open-popup {
  visibility: visible;
  top: 50%;
  transform: translate(-50%,-50%) scale(1);
}

.popup img {
  width: 100px;
  margin-top: -50px;
  border-radius: 50%;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
}

.popup h2 {
  font-size: 38px;
  font-weight: 500;
  margin: 30px 0 10px;
}

.popup button {
  width: 100%;
  margin-top: 50px;
  padding: 10px 0;
  background: #6fd649;
  color: #fff;
  border: 0;
  outline: none;
  border-radius: 4px;
  cursor: pointer;
  box-shadow: 0 5px 5px rgba(0,0,0,0.2);
}


/* BUTTON */
.explore-btn {
  padding: 12px 20px;
  background: linear-gradient(45deg, #ff6b6b, #6c5ce7);
  color: white;
  text-decoration: none;
  border-radius: 8px;
}

/* FEATURES GRID */
.features {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* CARDS */
.feature-card {
  background: white;
  padding: 20px;
  border-radius: 14px;
  border: 1px solid #eee;
}

/* SEARCH BAR */
.search-bar {
  margin-bottom: 20px;
}

.search-bar input {
  width: 100%;
  padding: 12px;
  border-radius: 15px;
  border: 6px solid #ddd;
  outline: none;
}

/* FEATURED SECTION */
.featured {
  margin-bottom: 30px;
}

.featured h2 {
  margin-bottom: 15px;
}

.featured-cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 20px;
}

/* FOOTER */
.footer {
  text-align: center;
  padding: 20px;
  color: #777;
}

/* IMPROVED HOVER */
.feature-card {
  transition: 0.3s;
}

/* .feature-card:hover {
  background: #d5aade;
  transform: translateY(-5px);
  box-shadow: 0 10px 25px rgba(0,0,0,0.08);
} */

.search-bar input:hover {
  border-color: #6c5ce7;
}

#scrollTopBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  padding: 10px 15px;
  font-size: 18px;
  border: none;
  background-color: rgb(16, 15, 15);
  color: rgba(249, 254, 255, 0.986);
  cursor: pointer;
  border-radius: 5px;
}


.toggle-btn {
  position: fixed;
  top: 10px;
  right: 10px;
  padding: 8px 12px;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  background-color: black;
  color: white;
}

body.dark-mode .toggle-btn {
  background-color: white;
  color: rgba(30, 30, 30, 0.943);
} 

body.dark-mode .component-card,
body.dark-mode .hero,
body.dark-mode .feature-card {
  background: rgb(192, 144, 207);
  color: #0b0b0b;
  border-color: #160dc5;
}

body.dark-mode .search-bar input {
  background: #454141;
  color: #ffffff;
  border-color: #4f40a3;
}

body.dark-mode .page-header p,
body.dark-mode .hero-left p {
  color: #bdaeae;
}


/* contact */
.contact-center {
  height: 100vh; 
  display: flex;
  justify-content: center; 
  align-items: center;     
}

.contact-box {
  width: 350px;
  padding: 25px;
  background: rgb(183, 183, 186);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.contact-box input,
.contact-box textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #4888c7;
  border-radius: 6px;
}

.contact-box button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background:rgb(63, 81, 119);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

.contact-box button:hover {
  background: rgb(135, 160, 215);
}

/* fillforms */

.forms {
  display: flex;
  flex-wrap: wrap;
}

.form {
  width: 350px;
  padding: 25px;
  background: rgb(183, 183, 186);
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0,0,0,0.1);
  text-align: center;
}

.form input ,
.form textarea {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #4888c7;
  border-radius: 6px;
}

.form button {
  margin-top: 10px;
  padding: 10px 20px;
  border: none;
  background:rgb(63, 81, 119);
  color: white;
  border-radius: 20px;
  cursor: pointer;
}

/* fill forms */
.container2 {
  max-width: 900px;
  margin: auto;
  text-align: center;
}

.formsh1 {
  margin-bottom: 20px;
}

.form-card {
  background: white;
  padding: 20px;
  margin: 20px 0;
  border-radius: 12px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.744);
  text-align: left;
}

.form-card input,
.form-card textarea,
.form-card select {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #847fbf;
  border-radius: 6px;
}

.options {
  display: flex;
  justify-content: space-between;
  font-size: 14px;
}

.form-card button {
  width: 100%;
  padding: 10px;
  border: none;
  background: rgb(63, 81, 119);
  color: white;
  border-radius: 20px;
  cursor: pointer;
  margin-top: 10px;
}

.form-card button:hover {
  background: rgb(135, 160, 215);
}

.radio-group,
.checkbox-group {
  margin: 10px 0;
}
